h1 = @note.title
hr

p = @body.html_safe

hr
div
  = link_to 'Download as PDF', url(:notes, :index), class: 'btn btn-info btn-block'
  = link_to 'Back', url(:notes, :index), class: 'btn btn-default btn-block'