body {
  background: url(/images/dimension.png);
  padding-top: 20px;
}

.logged-as {
  float: right;
  font-size: 12px;
  margin-top: -2px
}

#form-logout {
  margin-top: 2px;
}

.panel-body > h1 {
  margin: 0px;
  font-size: 30px;
}

#note-content > h1 {
  margin-bottom: 10px;
}

.share-link {
  margin-bottom: 20px;
}

.buttons-row a {
  margin-bottom: 5px;
}

.label + .label {
  margin-left: 5px;
}
